.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid lightgray;
    background-color: #333;
    text-align: center;
    :focus {
        outline: none;
    }
}

.back {
    color: white;
    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-right: 5px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.list-item {
    border: none;
    width: 100%;
    background-color: #333;
    padding: 5px;
}

.title {
    font-size: 28px;
    color: red;
}

.new-chapter {
    display: flex;
}

.page {
    margin-left: 200px;
    padding: 30px;
}

.panel-body {
    display: flex;
    justify-content: space-evenly;
    div {
        flex-grow: 1;
        padding: 5px;
    }
}

.code, .output {
    border: 1px solid gray;
    padding: 5px;
    min-height: 100px;
    border-radius: 5px;
}

.overview {
    color: orange;
}

.chapter {
    color: yellow;
}

.chapter i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.collapsed i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.chapter-overview {
    margin-left: 10px;
    color: green;
}

.section {
    margin-left: 10px;
    color: blue;
}

h1 {
    color: purple;
}

.term {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
    .data {
        display: flex;
        flex-grow: 1;
        align-items: center;
        .value {
            font-weight: bold;
            margin-right: 10px;
            color: purple;
            white-space: nowrap;
        }
        
        .def {
            flex-grow: 1;
        }
    }
    .plus {
        font-size: 26px;
    }
}
